<!DOCTYPE html>
<html lang="en">

<link href='http://fonts.googleapis.com/css?family=Gabriela|Nunito|Shanti' rel='stylesheet' type='text/css'>


  <head>
    <title>The Java Survey</title>
    <link href="css/screen.css" type="text/css" rel="stylesheet" />
  </head>
  
  <body>
    
    <div class="title">
      <h1>The Amazing Java Survey</h1>
      <p1>-Made for Java script-</p1>
    </div>  

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
   
   <div>
      <img src="images/coffeeside.jpg" title="Coffee Sign" alt="Coffee Sign" />
    </div>
    

    <div class="About">
      <h2>About The Java</h2>
      <p>The Amazing Java survey wants to know you, especially how you drink your coffee.  Did you know there are so many ways to drink coffee? Who would've known.
      Fun fact about java: "Java is to Javascript what Car is to Carpet"? -Chris Heilmann</p>
    </div>  

    <div class="survey">
      <form action="/submit" method="POST">
      
        <h2>How Do You Like Your Coffee</h2>
        
        <div class="selection">
          <div>
            <input type="radio" name="answer" value="Black"/>
            <label for="answer">Black</label>
          </div>

          <div>
            <input type="radio" name="answer" value="With Cream and Sugar"/>
            <label for="answer">With Cream and Sugar</label>
          </div>
          
          <div>
            <input type="radio" name="answer" value="Just Cream" />
            <label for="answer">Just Cream</label>
          </div>
          
          <div>
            <input type="radio" name="answer" value="Just Sugar" />
            <label for="answer">Just Sugar</label>
          </div>
          
          <div>
             <input type="radio" name="answer" value="Do not like Java" />
            <label for="answer">Actually does not like coffee</label>
          </div>

          <div>
            <input type="checkbox" name="tc" value="1" />
            <label for="tc">
              I certify that I am sane and capable of making this 
              decision.
            <label>
          </div>
        
        </div>

    <div>
      <input class="button" type="submit" name="submit" value="Submit">
    </div>

      </form>
    </div>

    <br>
    <br>
    <form>
      Please Enter Your Name:<input type="text" name="firstname">
    </form> 
    
  </body>

</html>