
body {
  font-family: "Lucida Bright", Georgia, serif;  
  background-color: #A97D5D;
  color: #F7DCB4;
}

h1 {
  font-size: 32pt;
  text-align: center;
}



img {
  border: 16px solid #9C9F84;
  margin: 10px 10px;
  float: left;
}

div.flash {
  border: 1px solid red;
  text-align:center;
  padding: 20px;
  width: 100%;
}

.title {
	text-align: center;
	font-family: 'Gabriela', serif;
}

h2, h3 {
	font-family: 'Nunito', sans-serif;
}

.selection, p {
	font-family: 'Shanti', sans-serif;
}


.button {
	height: 40px;
	width: 100px;
	border-radius: 30px;
	padding: 15px 0px;
	margin: 5px;
}
